/* About styling */
#about {
  padding: 75px 75px 24px 75px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Text styling */
h2 {
  padding: 20px;
}

#about .text {
  padding: 10px;
  width: 80%;
  align-self: center;
}

/* Toolkit styling */
.toolKit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skillBlock {
  display: block;
  background-color: #eee;
  opacity: 1;
  z-index: 5;
  align-items: center;
  margin: 12px;
  padding: 12px 12px 4px 12px;
  border-radius: 20px;
  height: auto;
  width: 300px;
  box-shadow: 0 8px 12px 0 var(--darkColor);
}

h4.skillHeader {
  color: var(--darkColor);
  text-align: center;
  font-size: 20px;
  padding-bottom: 16px;
}

/* Grid layout for skill icons */
.skillList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px 0px;
  padding: 8px 8px 0px 8px;
  justify-content: center;
}

.skillItem {
  display: flex;
  flex-direction: column;
  position: relative;
}

.skillIcon {
  width: 50px;
  z-index: 10;
  align-self: center;
  font-size: 50px;
  margin-bottom: 10px;
  transition: all 0.25s linear;
}

.skillText {
  opacity: 0;
  transition: all 0.25s linear;
}

/* Skill icon and text transitions on skill item hover */
.skillIcon:hover {
  transform: scale(1.1);
}

.skillIcon:hover ~ .skillText {
  opacity: 1;
}

/* Adding red to grayscale NPM icon */
.fa-npm {
  color: #cc3534;
}

/* Media query for medium and smaller screens */
@media (max-width: 768px) {
  /* Decrease page padding */
  #about {
    padding: 25px;
  }

  /* Increase skill block default padding */
  .skillBlock {
    padding: 12px;
  }

  /* Increase vertical gap */
  .skillList {
    grid-gap: 16px 0px;
  }

  /* Remove skill icon and text hover effects */
  .skillIcon:hover {
    transform: scale(1);
  }

  .skillText {
    opacity: 1;
  }
}
