/* Home styling */
#home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#home h2 {
  text-align: center;
  font-size: 32px;
  margin: 12px;
}

/* Link button styling */
.contactInfo {
  position: absolute;
  bottom: 10%;
  left: 50%;
  text-align: center;
  width: auto;
  transform: translateX(-50%);
}

.contactInfo .btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: var(--lightColor);
  margin: 10px 20px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px var(--darkColor);
  color: var(--darkColor);
  overflow: hidden;
  position: relative;
}

.contactInfo .btn i {
  line-height: 60px;
  font-size: 20px;
  transition: 0.2s linear;
}

.contactInfo .btn:hover i {
  transform: scale(1.3);
  color: var(--lightColor);
}

.contactInfo .btn::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background: var(--orange);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.contactInfo .btn:hover::before {
  animation: btnSlideIn 0.7s 1;
  top: -10%;
  left: -10%;
}

/* Hide mobile only contact info */
.contactInfo a.mobileOnly {
  display: none;
}

/* Animation */
@keyframes btnSlideIn {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

/* Media queries for responsiveness */
/* Medium Screens */
@media (max-width: 768px) {
  /* Display mobile only contact info */
  .contactInfo a.mobileOnly {
    display: inline-block;
  }

  /* Adjust contact info sizing and remove hover effects */
  .contactInfo {
    width: 100%;
  }

  .contactInfo .btn {
    height: 40px;
    width: 40px;
    margin: 10px 20px;
  }

  .contactInfo .btn i {
    line-height: 40px;
    font-size: 16px;
  }

  .contactInfo .btn:hover i {
    transform: scale(1);
    color: var(--midnightBlue);
  }

  .contactInfo .btn::before {
    background: var(--lightColor);
  }

  .contactInfo .btn:hover::before {
    animation: none;
    top: -10%;
    left: -10%;
  }
}

/* Landscape mobile */
@media (max-height: 550px) {
  /* Adjust contact info sizing and remove hover effects */
  .contactInfo {
    width: 100%;
  }

  .contactInfo h4 {
    display: none;
  }

  .contactInfo .btn {
    height: 40px;
    width: 40px;
    margin: 10px 20px;
  }

  .contactInfo .btn i {
    line-height: 40px;
    font-size: 16px;
  }

  .contactInfo .btn:hover i {
    transform: scale(1);
    color: var(--midnightBlue);
  }

  .contactInfo .btn::before {
    background: var(--lightColor);
  }

  .contactInfo .btn:hover::before {
    animation: none;
    top: -10%;
    left: -10%;
  }
}

/* Small screens */
@media (max-width: 550px) {
  /* Hero sizing and padding */
  #home {
    margin-top: 10%;
  }
  #home h2 {
    font-size: 20px;
    margin: 10px;
  }

  /* Center logo on mobile screens */
  .topBar .logoImage {
    top: 35%;
    left: 50%;
    margin-top: 0;
    margin-left: 0;
    height: 70px;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}
